<% provide(:title, 'About Me') %>
<h1>About Us</h1>
<p>
  <a href="http://linkedin.com/pub/dan-taipu-lin/23/853/a6">Taipu (Dan) Lin</a> who is passionate about learning and programming in Ruby on Rails builded a small twitter for a group of his close friends. Currently, he is working for a medical info. company in silicon valley and specilizs in product design and product management. He also loves to travel and explore different cultures. 
</p>