<footer class="footer">
  <small>
    by Taipu Lin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.linkedin.com/pub/dan-taipu-lin/23/853/a6">News</a></li>
    </ul>
  </nav>
</footer>